@model gruppBNY.Models.competence
@*@model gruppBNY.ViewModel.competenceVM*@

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>competence</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.competence_Id)
    @Html.HiddenFor(model => model.freelancer_id)
   
    <div class="form-group">
        @Html.LabelFor(model => model.competences, htmlAttributes: new { @class = "control-label col-md-2" })
        @*@Html.LabelFor(model => model.Allcategories, "type_of_competence", new { @class = "control-label col-md-2"})*@

        <div class="dropdown">
            <button class="dropbtn">Choose Competence</button>
            <div class="dropdown-content">
                <a href="#">Programmering</a>
                <a href="#">People skills</a>
                <a href="#">Problem solving</a>
            </div>
        </div>

        @*<div class="col-md-10">
            @Html.ListBoxFor(m => m.ListOfCategories, Model.Allcategories)
            @Html.EditorFor(model => model.competences, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.competences, "", new { @class = "text-danger" })
        </div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="dropdown">
            <button class="dropbtn">Choose Category</button>
            <div class="dropdown-content">
                <a href="#">C#</a>
                <a href="#">HTML</a>
                <a href="#">JAVA</a>
                <a href="#">SQL</a>
                <a href="#">Python</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.scale, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="dropdown">
            <button class="dropbtn">Scale 1-5</button>
            <div class="dropdown-content">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
            </div>
        </div>
        @*<div class="col-md-10">
            @Html.EditorFor(model => model.scale, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.scale, "", new { @class = "text-danger" })
        </div>*@
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
