@model IEnumerable<gruppBNY.Models.competence>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.competences)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scale)
        </th>
        <th>
            @Html.DisplayNameFor(model =>model.category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.competences)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scale)
        </td>
        <td>
            @Html.ListBox("category_Id", new SelectList(item.category, "category_Id", "type_of_competence" ))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.competence_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.competence_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.competence_Id })
        </td>
    </tr>
}

</table>
