@model gruppBNY.Models.education

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>education</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.school_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.school_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.education_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.education_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.education_degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.education_degree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.education_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
